---
import { Carousel } from '@/components/Carousel';
import { LogoTipo } from '@/components/Images';
import { BasicButton } from '@/components/UI';
---

<section class='h-screen relative'>
	<Carousel>
		<LogoTipo />
		<a href='#nuestras-recetas'>
			<BasicButton text='¿Cocinamos algo?' />
		</a>
	</Carousel>
</section>
