---
import { BasicButton } from '@/components/UI';
---

<section class='flex bg-orange-600 sm:flex-row flex-col'>
	<img
		src='/images/nosotros/familia-nosotros.webp'
		alt='imagen de una cena en familia con doña lola'
		class='sm:w-[50%] w-full basis-1/2 object-cover'
	/>
	<div class='flex flex-col items-start gap-10 p-10 text-white'>
		<h3 class='text-3xl font-semibold'>Nosotros</h3>
		<p>
			Somos una empresa familiar que surge en el año 2000 en la ciudad de Ramos
			Mejía, Bs. As. de la mano del Señor Norberto Pratticó e hijos. Nuestro
			objetivo es que todas las personas puedan disfrutar del sabor de las
			pastas que nos dejó de herencia la abuela Lola, disfrutando sus recetas
			magistrales.
		</p>
		<p>
			La abuela reunía a toda la familia los domingos a saborear sus exquisitos
			platos. Sus comidas eran tan deliciosas, que a la reunión familiar, se
			sumaban amigos y vecinos. Es así que la abuela comenzó un micro
			emprendimiento y allá por el año 1998 empezó a vender sus productos a
			gente de la zona.
		</p>
		<p>
			Como ya no daba a basto con tantos pedidos, en el año 2000 la familia
			Pratticó decidió abrir una pequeña fábrica para que todos puedan disfrutar
			de las recetas de la abuela, o de Doña Lola como le decían en el barrio.
		</p>
		<BasicButton text='Conocer más' />
	</div>
</section>
