<button class="button-top fixed z-50 sm:bottom-28 bottom-10 right-8 cursor-pointer animate-bounce hover:opacity-65 hidden">
    <svg width="60" height="60" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m8 13.86 2.87-3.06a1.52 1.52 0 0 1 2.26 0L16 13.86" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 7.42v10a4 4 0 0 0 4 4h10a4 4 0 0 0 4-4v-10a4 4 0 0 0-4-4H7a4 4 0 0 0-4 4" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
</button>

<script>
	const buttonTop = document.querySelector('.button-top') as HTMLElement;

    buttonTop.addEventListener('click', () => {
        document.documentElement.scrollTop = 0;
    });
</script>