---
import Layout from '@/layouts/Layout.astro';
import { Hero, NuestrasRecetas, Nosotros, Contacto } from '@/sections/Home';
---

<Layout title='Fabrica de pastas Doña Lola'>
	<main>
		<Hero />
		<NuestrasRecetas />
		<Nosotros />
		<Contacto />
	</main>
</Layout>
