---
import { Hamburger } from '@/components/Images';
import { Logo, Menu } from '@/components/shared/Navbar';
---

<header>
	<nav
		class='bg-red-600 shadow shadow-red-400 flex justify-between items-center p-5'
	>
		<Logo />
		<Menu />
		<Hamburger />
	</nav>
</header>
