---
import { imagesCarousel } from '@/data/image-carousel';
---

<div id='default-carousel' class='relative w-full' data-carousel='slide'>
	<div class='relative h-lvh overflow-hidden opacity-70'>
		{
			imagesCarousel.map((image) => {
				return (
					<div class='hidden duration-1000 ease-in-out' data-carousel-item>
						<img
							src={`/images/hero/${image.url}`}
							class='relative block w-full h-full object-cover -translate-x-1/2 top-1/2 -translate-y-1/2 left-1/2'
							alt={image.alt}
						/>
					</div>
				);
			})
		}
	</div>
	<section class='absolute top-[150px] h-[300px] w-full mx-auto flex justify-center flex-col items-center gap-16'>
		<slot />
	</section>
</div>
