---
import { Icon } from 'astro-icon/components';
---

<div class='flex flex-col items-center gap-5 lg:m-0 mt-4' id='footer'>
	<div class='flex justify-center gap-2'>
		<a href='https://www.instagram.com/pastasdonalola/' target='_blank'>
			<Icon name='instagram-icon' class='h-[20px] w-[20px] hover:opacity-65' />
		</a>
		<a href='https://www.facebook.com/Pastasdonalolaok/' target='_blank'>
			<Icon name='facebook-icon' class='h-[20px] w-[20px] hover:opacity-65' />
		</a>
	</div>
</div>
